{{!-- category --}}
{{>Ecommlink}}
<div class="clv_main_wrapper index_v3">
    {{>Ecommnavbar}}
    <!--Breadcrumb-->
    <div class="breadcrumb_wrapper">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-4">
                    <div class="breadcrumb_inner">
                        <h3>shop category</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="breadcrumb_block">
            <ul>
                <li><a href="/">home</a></li>
                <li>shop category</li>
            </ul>
        </div>
    </div>
    <!--Produst List-->
    <div class="products_wrapper clv_section">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3">
                    <div class="product_sidebar">

                        <div class="product_block">
                            <div class="sidebar_heading">
                                <h3>product categories</h3>
                                <img src="images/footer_underline.png" alt="image">
                            </div>
                            <div class="product_category">
                                <ul>
                                    <li>
                                        {{!-- <input type="checkbox" id="cat1" checked> --}}
                                        <label for="cat1">all<span>(16)</span></label>
                                    </li>
                                    <li>
                                        {{!-- <input type="checkbox" id="cat2"> --}}
                                        <label for="cat2">Organic Farming<span>(12)</span></label>
                                    </li>
                                    <li>
                                        {{!-- <input type="checkbox" id="cat3"> --}}
                                        <label for="cat3">Organic Green Bell Pepper<span>(156)</span></label>
                                    </li>
                                    <li>
                                        {{!-- <input type="checkbox" id="cat4"> --}}
                                        <label for="cat4">Permaculture<span>(260)</span></label>
                                    </li>
                                    <li>
                                        {{!-- <input type="checkbox" id="cat5"> --}}
                                        <label for="cat5">Precision Farming<span>(96)</span></label>
                                    </li>
                                    <li>
                                        {{!-- <input type="checkbox" id="cat6"> --}}
                                        <label for="cat6">Conservation Agriculture<span>(12)</span></label>
                                    </li>
                                </ul>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-lg-9 col-md-9">
                    <div class="product_section">
                        <div class="ads_section"><img src="images/ads.png" alt="image"></div>
                    </div>
                    <div class="product_list_section">
                        <div class="product_list_filter">
                            <ul>
                                <li>
                                    <p>showing <span>1-6 of 9</span> result</p>
                                </li>
                                <li>
                                    <select>
                                        <option value="sort by popularity">sort by popularity</option>
                                        <option value="sort by price">sort by price</option>
                                        <option value="sort by category">sort by category</option>
                                    </select>
                                </li>
                                <li>
                                    <ul class="list_view_toggle">
                                        <li><span>view style</span></li>
                                        <li>
                                            <a href="javascript:;" class="active grid_view">
                                                <svg xmlns="http://www.w3.org/2000/svg"
                                                    xmlns:xlink="http://www.w3.org/1999/xlink" width="12px"
                                                    height="12px">
                                                    <path fill-rule="evenodd" fill="rgb(112, 112, 112)"
                                                        d="M6.861,12.000 L6.861,6.861 L12.000,6.861 L12.000,12.000 L6.861,12.000 ZM6.861,-0.000 L12.000,-0.000 L12.000,5.139 L6.861,5.139 L6.861,-0.000 ZM-0.000,6.861 L5.139,6.861 L5.139,12.000 L-0.000,12.000 L-0.000,6.861 ZM-0.000,-0.000 L5.139,-0.000 L5.139,5.139 L-0.000,5.139 L-0.000,-0.000 Z" />
                                                </svg>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:;" class="list_view">
                                                <svg xmlns="http://www.w3.org/2000/svg"
                                                    xmlns:xlink="http://www.w3.org/1999/xlink" width="12px"
                                                    height="10px">
                                                    <path fill-rule="evenodd" fill="rgb(112, 112, 112)"
                                                        d="M3.847,10.000 L3.847,7.783 L12.000,7.783 L12.000,10.000 L3.847,10.000 ZM3.847,3.892 L12.000,3.892 L12.000,6.108 L3.847,6.108 L3.847,3.892 ZM3.847,-0.000 L12.000,-0.000 L12.000,2.216 L3.847,2.216 L3.847,-0.000 ZM-0.000,7.783 L2.297,7.783 L2.297,10.000 L-0.000,10.000 L-0.000,7.783 ZM-0.000,3.892 L2.297,3.892 L2.297,6.108 L-0.000,6.108 L-0.000,3.892 ZM-0.000,-0.000 L2.297,-0.000 L2.297,2.216 L-0.000,2.216 L-0.000,-0.000 Z" />
                                                </svg>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div class="product_items_section">
                            <ul>
                                {{#each Product}}
                                <li>

                                    <div class="product_item_block">
                                        <div class="org_product_block">
                                            <span class="product_label">{{this.brand}}</span>
                                            <div class="org_product_image">
                                                <img src="./uploads/{{this.image}}" style="width:200px;height:180px;"
                                                    alt="image">
                                            </div>
                                            <h4>{{this.name}}</h4>
                                            <h3><span><i class="fa fa-inr" aria-hidden="true"></i></span>{{this.price}}
                                            </h3>

                                            {{!-- <a href="javascript:;">add to cart</a> --}}
                                            {{!-- <a href="/product_detail/{{this.id}}"> product-details</a>
                                            --}}
                                            <a href="/productDetails/{{this._id}}">Product Details</a>
                                        </div>
                                        <div class="content_block">
                                            <div class="product_price_box">
                                                <h3>{{this.name}}</h3>
                                                <h5><span><i class="fa fa-inr"
                                                            aria-hidden="true"></i></span>{{this.price}}</h5>
                                            </div>
                                            <p>{{this.brand}}</p>
                                            {{!-- <div class="rating_section">
                                                <span>4.1</span>
                                                <ul>
                                                    <li><a class="active" href="javascript:;"><i class="fa fa-star"
                                                                aria-hidden="true"></i></a>
                                                    </li>
                                                    <li><a class="active" href="javascript:;"><i class="fa fa-star"
                                                                aria-hidden="true"></i></a>
                                                    </li>
                                                    <li><a class="active" href="javascript:;"><i class="fa fa-star"
                                                                aria-hidden="true"></i></a>
                                                    </li>
                                                    <li><a href="javascript:;"><i class="fa fa-star"
                                                                aria-hidden="true"></i></a></li>
                                                    <li><a href="javascript:;"><i class="fa fa-star"
                                                                aria-hidden="true"></i></a></li>
                                                </ul>
                                                <p>151 reviews</p>
                                            </div> --}}
                                            <ul class="product_code">
                                                <li>
                                                    <p>product code: {{this.quantity}}</p>
                                                </li>
                                                <li>
                                                    <p>availability: <span>in stock: {{this.stock}}</span></p>
                                                </li>
                                            </ul>
                                            <p>{{this.details}}</p>
                                        </div>
                                    </div>
                                </li>
                                {{/each}}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Footer-->

    </div>
    {{>Ecommfooter}}